{% extends "base.html" %}

{% block title %}
{{ "Animate Trail"|title }}
{% endblock %}

{% block head %}
{{ super() }}
<script>
window.onload = function() {
    animate_trail({{ trail_data["data"] }},
        "trail_canvas_container_dojo_grid",
        "trail_canvas_container_dojo_squares",
        "trail_canvas_container_dojo_ant",
        "{{ actions }}" );
}
</script>
{% endblock %}

{% block header_text %}
{{ trail_data["name"]|title }}
<small>Used for <a href="{{ url_for('run_listing')}}">{{ num_runs }}</a> runs</small>
{% endblock %}

{% block content %}

<h2>Trail</h2>
<div class="row" id="trail_view">
    <div id="trail_canvas_container_dojo_grid"></div>
    <div id="trail_canvas_container_dojo_squares"></div>
    <div id="trail_canvas_container_dojo_ant"></div>
</div>
{% endblock %}

{% block footer_text %}
    Generated in {{ time_sec }} seconds.
{% endblock %}
