<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %} - GA Toolbox</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{
          url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 15px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{
          url_for('static', filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{
          url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico') }}" />

        <script src="{{
          url_for('static', filename='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>

        <link href='http://fonts.googleapis.com/css?family=Ubuntu|Source+Code+Pro|Vollkorn' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

        {% endblock %}
    </head>

{% set navigation_bar = [
    ('run_listing', 'Runs'),
    ('trail_by_id', 'Trails'),
    ('network_by_id', 'Networks')
]%}

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('run_listing')}}">Trail Viewer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% for id, caption in navigation_bar %}
                    <li {% if id == active_page %} class="active"{% endif%}>
                        <a href="{{ url_for(id) }}">{{ caption|e }}</a>
                    </li>
                {% endfor %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <div class="container">
            <div class="page-header">
                <h1>{% block header_text %}{% endblock %}</h1>
            </div>


        {% block content %}

        {% endblock %}

            <footer>
                <hr />
                <div class="container-fluid text-center">
                    <a href="/">Home</a> |
                    {% for id, caption in navigation_bar %}
                    <a href="{{ url_for(id) }}">{{ caption|e }}</a> |
                    {% endfor %}
                    <a href="#" name="top">Top</a><br />
                    {% block footer_text %}{% endblock %}
                </div>
            </footer>

        </div>



    {% block footer %}



        <script src="{{
          url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{
          url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{
          url_for('static', filename='js/main.js') }}"></script>

    {% endblock %}


    </body>
</html>
