{% extends "base.html" %}
{% set active_page = "run_listing" %}

{% block title %}
Home
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.tablesorter.pager.css') }}">
{% endblock %}

{% block header_text %}
Home
{% endblock %}

{% block content %}
<h2>Filter Options</h2>
<div class="row">
    <dl class="dl-horizontal">
        {% for values_d in filter_list %}
            {% if values_d["values"]|length > 1 %}
                <dt>{{ values_d["string"] }}</dt>
                    <dd><ul class="filter_listing">
                    {% for curr_val_d in values_d["values"] %}
                        {% if curr_val_d["value"] != None %}
                            <li>
                                {% if curr_val_d["url"] != None %}
                                    <a href="{{ curr_val_d["url"] }}">
                                {% endif %}
                                {{ curr_val_d["value"] }}
                                {% if curr_val_d["url"] != None %}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul></dd>
            {% endif %}
        {% endfor %}
    </dl>
</div>


{% if table_data != None %}
    <h2>Runs with This Configuration</h2>
    <table class="tablesorter table table-striped">
        <colgroup>
            <col width="1*" />
            <col width="1*" />
            <col width="1*" />
            <col width="1*" />
            <col width="1*" />
            <col width="1*" />
            <col width="1*" />
            <col width="1*" />
            <col width="1*" />
            <col width="1*" />
            <col width="1*" />
            <col width="1*" />
            <col width="2*" />
        </colgroup>
        <thead>
            <tr>
                <th>Trail</th>
                <th>Network</th>
                <th>Sel</th>
                <th>Gen</th>
                <th>Pop</th>
                <th>Move Lim.</th>
                <th>Tourn. Size</th>
                <th>Mutate Type</th>
                <th>P(mut)</th>
                <th>P(cross)</th>
                <th>Min. Weight</th>
                <th>Max. Weight</th>
                <th>Run Count</th>
                <th>Run IDs</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Trail</th>
                <th>Network</th>
                <th>Sel</th>
                <th>Gen</th>
                <th>Pop</th>
                <th>Move Lim.</th>
                <th>Tourn. Size</th>
                <th>Mutate Type</th>
                <th>P(mut)</th>
                <th>P(cross)</th>
                <th>Min. Weight</th>
                <th>Max. Weight</th>
                <th>Run Count</th>
                <th>Run IDs</th>
            </tr>
            <tr>
                <th colspan="14" class="ts-pager" data-column"0">
                    <button type="button" class="btn first">
                        <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                    <button type="button" class="btn prev">
                        <span class="glyphicon glyphicon-backward"></span>
                    </button>
                    <span class="pagedisplay"></span>
                    <button type="button" class="btn next">
                        <span class="glyphicon glyphicon-forward"></span>
                    </button>
                    <button type="button" class="btn last">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                    <select class="pagesize input-mini" title="Select page size">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <select class="pagenum input-mini" title="Select page number"></select>
                </th>
            </tr>
        </tfoot>
        <tbody>
        {% for row in table_data %}
        <tr>
            {% for curr_line in row[1:13] %}
                <td>{{ curr_line  }}</td>
            {% endfor %}
                <td>{{ row[13]|length  }}</td>
                <td>
                {% for curr_run_id in row[13] %}
                    <a href="{{ url_for('plot_by_run_id', run_id=curr_run_id) }}">{{ curr_run_id }}</a>&nbsp;
                {% endfor %}
                </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


{% endblock %}

{% block footer_text %}
    Generated in {{ time_sec }} seconds.
{% endblock %}

{% block footer %}
    {{ super() }}
<script src="{{
    url_for('static', filename='js/vendor/jquery.tablesorter.min.js') }}"></script>
<script src="{{
    url_for('static', filename='js/vendor/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{
    url_for('static', filename='js/vendor/jquery.tablesorter.pager.min.js') }}"></script>

<script id="js">
$(function() {

  $.extend($.tablesorter.themes.bootstrap, {
    // these classes are added to the table. To see other table classes available,
    // look here: http://twitter.github.com/bootstrap/base-css.html#tables
    table      : 'table',
    caption    : 'caption',
    header     : 'bootstrap-header', // give the header a gradient background
    footerRow  : '',
    footerCells: '',
    icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
    sortNone   : 'bootstrap-icon-unsorted',
    sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
    sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down', // includes classes for Bootstrap v2 & v3
    active     : '', // applied when column is sorted
    hover      : '', // use custom css here - bootstrap class may not override it
    filterRow  : '', // filter row class
    even       : '', // odd row zebra striping
    odd        : ''  // even row zebra striping
  });

  // call the tablesorter plugin and apply the uitheme widget
  $("table").tablesorter({
    // this will apply the bootstrap theme if "uitheme" widget is included
    // the widgetOptions.uitheme is no longer required to be set
    theme : "bootstrap",

    widthFixed: true,

    headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

    // widget code contained in the jquery.tablesorter.widgets.js file
    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
    widgets : [ "uitheme", "zebra" ],

    widgetOptions : {
      // using the default zebra striping class name, so it actually isn't included in the theme variable above
      // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
      zebra : ["even", "odd"],

      // reset filters button
      filter_reset : ".reset"

      // set the uitheme widget to use the bootstrap theme class names
      // this is no longer required, if theme is set
      // ,uitheme : "bootstrap"

    },

    sortList : [[0,0]]
  })
  .tablesorterPager({

    // target the pager markup - see the HTML block below
    container: $(".ts-pager"),

    // target the pager page select dropdown - choose a page
    cssGoto  : ".pagenum",

    // remove rows from the table to speed up the sort of large tables.
    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
    removeRows: false,

    // output string - default is '{page}/{totalPages}';
    // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

  });

});
</script>
{% endblock %}
