{% macro run_configuration(run_config) -%}
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Network Name</dt>
                <dd><a href="{{ url_for('network_by_id', network_id=run_config['networks_id']) }}">{{ run_config["network_name"] }}</a></dd>
            <dt>Trail Name</dt>
                <dd><a href="{{ url_for('trail_by_id', trail_id=run_config['trails_id']) }}">{{ run_config["trail_name"] }}</a></dd>
            <dt>Mutate Type</dt>
                <dd><a href="http://deap.gel.ulaval.ca/doc/dev/api/tools.html#deap.tools.{{ mutate_name }}" target="_blank">{{ run_config["mutate_name"] }}</a></dd>
            <dt>Generations</dt>
                <dd>{{ run_config["generations"] }}</dd>
            <dt>Population</dt>
                <dd>{{ run_config["population"] }}</dd>
            <dt>Variations Type</dt>
                <dd><a href="http://deap.gel.ulaval.ca/doc/dev/api/algo.html#deap.algorithms.{{ run_config["variations_name"]}}">{{ run_config["variations_name"]}}</a></dd>
            <dt>Algorithm Version</dt>
                <dd>{{ run_config["algorithm_ver"]}}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Moves Limit</dt>
                <dd>{{ run_config["moves_limit"] }}</dd>
            <dt>Selection Method</dt>
                <dd><a href="{{ url_for('select_by_id', select_id=run_config["selection_id"]) }}">{{ run_config["select_name"] }}</a></dd>
            {% if run_config["selection_id"] == 1 %}
                <dt>Tournament Size</dt>
                    <dd>{{ run_config["sel_tourn_size"] }}</dd>
            {% endif %}
            {% if run_config["lambda"] is not none %}
                <dt>&lambda;</dt>
                    <dd>{{ run_config["lambda"] }}</dd>
            {% endif %}
            <dt>P(Mutate)</dt>
                <dd>{{ run_config["p_mutate"] }}</dd>
            <dt>P(Crossover)</dt>
                <dd>{{ run_config["p_crossover"] }}</dd>
            <dt>Weight</dt>
                <dd>[{{ run_config["weight_min"] }}, {{ run_config["weight_max"] }}]</dd>
        </dl>
    </div>
</div>
{%- endmacro %}

{% macro sweep_urls_block(url_l) -%}
<div class="row">
    <div class="col-md-12">
        {% for curr_sweep in url_l %}
            <a href="{{ curr_sweep[1] }}"><button type="button" class="btn btn-default">{{ curr_sweep[0]|title }}</button></a>
        {% endfor %}
    </div>
</div>
{%- endmacro %}
