{% extends "base.html" %}
{% set active_page = "trail_by_id" %}

{% block title %}
{{ trail_data["name"]|title }}
{% endblock %}

{% block head %}
{{ super() }}
<script>
window.onload = function() {
    animate_trail({{ trail_data["data"] }},
        "trail_canvas_container_dojo_grid",
        "trail_canvas_container_dojo_squares",
        "trail_canvas_container_dojo_ant",
        "");
}
</script>
{% endblock %}

{% block header_text %}
{{ trail_data["name"]|title }}
<small><a href="{{ url_for('run_listing', trails_id=id)}}">Runs</a> with this trail</small>
{% endblock %}

<!-- TODO: Finish this stuff -->
{% block content %}
<h2>Configuration</h2>
<div class="row">
    <dl class="dl-horizontal">
        <dt>Trail ID</dt>
            <dd>{{ id }}</dd>
        <dt>Trail Name</dt>
            <dd>{{ trail_data["name"] }}</dd>
        <dt>Food</dt>
            <dd>{{ trail_data["food_count"] }}</dd>
        <dt>Dimensions</dt>
            <dd>{{ trail_data["dimension_str"] }}</dd>
        <dt>Recommended Moves</dt>
            <dd>{{ trail_data["moves"] }}</dd>
        <dt>Download Image:</dt>
            <dd>
                <select id="trail_download" name="trail_download_list"
                onchange="window.open(this.value,'','');">
                    <option>Choose a format...</option>
                    {% for curr_item in image_dropdown_list %}
                        <option value="{{ request.path + "." + curr_item }}">
                            {{ curr_item }}
                        </option>
                    {% endfor %}
                </select>
            </dd>
    </dl>
</div>

<h2>Layout</h2>
<div class="row" id="trail_view">
    <div id="trail_canvas_container_dojo_grid"></div>
    <div id="trail_canvas_container_dojo_squares"></div>
    <div id="trail_canvas_container_dojo_ant"></div>
</div>

<h2>Raw Data</h2>
<div class="row">
    <div>[{{ trail_data["data"]|join(",<br />")|safe }}]</div>
</div>
{% endblock %}

{% block footer_text %}
    Generated in {{ time_sec }} seconds.
{% endblock %}
